body {
	padding: 0;
	margin: 0;
}

canvas {
	max-width: 100%;
}

#pano-control {
	position: fixed;
	bottom: 30px;
	left: 30px;
}

#copyright {
	float: right;
}

#pano-control a {
	padding: 10px;
	color: #222;
	font-size: 12px;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.5);
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #888;
	text-shadow: 0 0 10px #fff;
}

#pano-control a.active {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

#form-wrp {
	position: absolute;
	top: 30px;
	left: 30px;
}

#form-wrp input {
	padding: 5px;
}

#form-wrp #img {
	width: 400px;
}